body{
    margin: 0px;
    background-color: #F5F2Ec;
}

*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Header */
.hero{
    width: 100%;height: 70vh;
    overflow: hidden;
    margin: 0%;
    background-image: url(https://i.pinimg.com/1200x/9d/a0/20/9da0206830c282c6f27f566526331ffb.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right, top;
    position: absolute;
}

.hero img{
    width: 100%;
    display: block;
}


.hero h1{
    padding-left: 50px;
    font-size: 100px;
    color: #fffefd; 
    text-decoration: bold;
    margin: 0px;
    padding-top: 110px;
}

.hero p{
    font-size: 40px; 
    color: #fffefc;
    padding-left: 50px; padding-right: 490px;
}


 header{
    background-color: #B7A996;
    position: sticky; top: 0px;
    z-index: 1;
    height: 100px;
    padding: 10px 20px;
}

.navbar{
    margin-top: 0px;
    list-style-type: none;
    padding: 10px;
    float: right;
}

.navbar a{
    text-decoration: none;
    color: #f7f6e7;
}
    
.navbar li{
    display: inline-block;
    padding: 20px;
    width: 200px;
}


#logo {
    width: 55px;
    margin-left: 50px;
    padding-right: 5px;
    border-radius: 6px;
    margin-top: 10px;
}
 
#logo-name {
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
    color:#f7f6e7;
    border-left: 3px solid #f7f6e7;
    padding-left: 15px;
}


/* Body */
.intro-box {
    background-color: #4e4034;
    padding: 25px;
    border-radius: 10px;
    margin-top: 55px; margin-left: 50px; margin-right: 50px;
    width: 60%;
}
.container{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;margin-top: 50px; margin-left: auto; margin-right: auto;
    padding-left: 50px; padding-right:50px ;
}

.box {
    background-color: #5a3e2b;
    padding: 25px;
    border-radius: 10px;
    width: 33.33%;
}



#More{
     background-color:#5a3e2b;
     color:rgb(230, 224, 209);
     text-decoration: none;
     padding: 7px 12px;
     border-radius: 20px;
     margin-left: 55px;
}

/* Table */
    .practice-table {
        width: auto;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-left: 55px; margin-top: 50px; margin-bottom: 35px; margin-right: 55px;
    }

    .practice-table th, .practice-table td {
        border: 1px solid #8b5e3c;
        padding: 14px 18px;
        text-align: left;
    }

    .practice-table th {
        background-color: #8b5e3c;
        color: #fff4e6;
        font-size: 18px;
    }

    .practice-table td {
        background-color: #fdfaf6;
        color: #4a3426;
        font-size: 16px;
    }

    .practice-table tr:hover td {
        background-color: #ffe8c8;
    }
/* Table */
    
#More{
     background-color:#5a3e2b;
     color:rgb(230, 224, 209);
     text-decoration: none;
     padding: 7px 12px;
     border-radius: 20px;
     margin-left: 55px;
}

/* Footer */
.footer {
    background-color: #B7A996;
    color: #f7f6e7;
    padding: 30px 0;
    width: 100%;
}
 
.footer-container {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 20px;
}
 
.footer-col {
    width: 30%;
}
 
.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
 
.footer-col ul {
    list-style: square;
    padding: 0;
}
 
.footer-col ul li {
    margin-bottom: 5px;
    font-size: 15px;
}
 
.footer-col a {
    color: #f7f6e7;
}
 
.footer-col a:hover {
    color: #5a3e2b;
}
 
#footer-logo {
    width: 75px;
    padding-right: 5px;
    border-radius: 5px;
}
 
#footer-logo-name {
    display: block;
    font-size: 100%;
    margin-top: 10px;
    color: #f7f6e7;
    border-left: 3px solid #f7f6e7;
    padding-left: 15px;
}
 
 

 
.footer-icons {
    width: 20%;
    text-align: right;
    padding-top: 25px;
}
 
.footer hr {
    border: 0;
    height: 1px;
    background-color: #f7f6e7;
    width: 90%;
    margin: 20px auto;
}
 
.footer-credit {
    font-size: medium;
    text-align: center;
    color: #f7f6e7;
}
.fa {
    padding: 10px 7px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 8px;
}

.fa-facebook { background: #d9d2c6; color: white; }
.fa-youtube { background:  #d9d2c6; color: white; }
.fa-twitter { background:  #d9d2c6; color: white; }
/* Footer */